<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.xtext.component.componentDefinition.ComponentDefinitionGeneratorEP">
      <generator
            class="de.seronet_projekt.xtend.ROS.generator.ROSGenerator">
      </generator>
   </extension>
   <extension
         point="org.xtend.smartsoft.generator.ComponentGeneratorExtension">
      <ComponentGeneratorExtension
            class="de.seronet_projekt.xtend.ROS.generator.ext.ROSComponentGeneratorExtension">
      </ComponentGeneratorExtension>
      <ActivityGeneratorExtension
            class="de.seronet_projekt.xtend.ROS.generator.ext.ROSActivityGeneratorExtension">
      </ActivityGeneratorExtension>
   </extension>

</plugin>
