<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rosPortExtension -->
      <package
            uri="http://www.seronet-projekt.de/component/rosPortExtension"
            class="de.seronet_projekt.ecore.component.rosPortExtension.RosPortExtensionPackage"
            genModel="model/rosPortExtension.genmodel"/>
   </extension>

</plugin>
