<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
        point="org.eclipse.ui.handlers">
		<!-- de.fraunhofer.ipa.componentInterface.ui.ComponentInterfaceExecutableExtensionFactory: -->
        <handler
           class="de.seronet_projekt.ros.componentGateway.ComponentGatewayExecutableExtensionFactory:de.seronet_projekt.ros.componentGateway.GenerationHandler"
           commandId="de.seronet_projekt.ros.componentGateway.generator.command">
     	</handler>
    </extension>
 
    <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.seronet_projekt.ros.componentGateway.generator.command"
            name="Generate ROS-SeRoNet Mixed Port">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <command
               commandId="de.seronet_projekt.ros.componentGateway.generator.command"
               >
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <with
                         variable="selection">
                      <count
                            value="1">
                      </count>
                   </with>
                   <iterate
                         ifEmpty="false">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="componentinterface">
                           </test>
                   </iterate>
                </and>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>

	<extension
        point="org.eclipse.ui.handlers">
        <handler
              class="de.seronet_projekt.ros.componentGateway.ComponentGatewayExecutableExtensionFactory:de.seronet_projekt.ros.componentGateway.GenerationObjectHandler"
              commandId="de.seronet_projekt.ros.componentGateway.generator.commandCommunicationObject">
     	</handler>
    </extension>
 
    <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.seronet_projekt.ros.componentGateway.generator.commandCommunicationObject"
            name="Generate SeRoNet Communication Objects">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <command
               commandId="de.seronet_projekt.ros.componentGateway.generator.commandCommunicationObject"
               >
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <with
                         variable="selection">
                      <count
                            value="1">
                      </count>
                   </with>
                   <iterate
                         ifEmpty="false">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="ros">
                           </test>
                   </iterate>
                </and>
             </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
